DEBUG=1
SECRET_KEY=django-insecure-change-me
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DATABASE_ENGINE=django.db.backends.mysql
DATABASE_NAME=seduc162
DATABASE_USER=app_user
DATABASE_PASSWORD=
DATABASE_HOST=mysql
DATABASE_PORT=3306

MYSQL_DATABASE=seduc162
MYSQL_USER=app_user
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

REDIS_URL=redis://redis:6379/0
