DEBUG=1
SECRET_KEY=django-insecure-change-me
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DATABASE_ENGINE=django.db.backends.mysql
DATABASE_NAME=designacao_gestores
DATABASE_USER=app_user
DATABASE_PASSWORD=app_password
DATABASE_HOST=mysql
DATABASE_PORT=3306

MYSQL_DATABASE=designacao_gestores
MYSQL_USER=app_user
MYSQL_PASSWORD=app_password
MYSQL_ROOT_PASSWORD=root_password

REDIS_URL=redis://redis:6379/0
